<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>商品展示.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCCB46BD1DB4739900E4DC51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCCB46D91DB4739900E4DC51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCCB46E41DB4739900E4DC51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
